/* COSTUM PROPERTIES */
:root {
  /* primary colors */
  --bg-clr-card1: hsl(31, 77%, 52%);
  --bg-clr-card2: hsl(184, 100%, 22%);
  --bg-clr-card3: hsl(179, 100%, 13%);

  /* neutral colors */
  --body-text-clr: hsla(0, 0%, 100%, 0.55);
  --base-clr-light: hsl(0, 0%, 95%);

  /* fonts */

  --ff-text: "Lexend Deca", sans-serif;
  --ff-heading: "Big Shoulders Display", cursive;

  --fw-400: 400;
  --fw-bold: 700;
}

/***********************/
/*         RESET       */
/***********************/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;

  /* //carefull of to use these or you can set it to the proper selector */
  line-height: calc(1em + 0.5rem);

  /* //only for Macos users */
  -webkit-font-smoothing: antialiased;
}

/* //optional (use when you want it): sets the default font-size to 10px = 1rem */
/* html {
  font-size: 62.5%;
} */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  display: grid;

  place-content: center;
  margin: 2rem 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cards {
  display: grid;
  max-width: 57.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
article {
  width: 20.44rem;
  height: 27.625rem;
  display: grid;

  padding-inline: 3rem;
  padding-block-start: 2.2rem;
}

.card-1 {
  background-color: var(--bg-clr-card1);
}
.card-2 {
  background-color: var(--bg-clr-card2);
}
.card-3 {
  background-color: var(--bg-clr-card3);
}
h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  color: var(--base-clr-light);
  font-size: 2.2rem;
  text-transform: uppercase;
}

p {
  font-family: var(--ff-text);
  font-weight: var(--fw-400);
  color: var(--body-text-clr);
  font-size: 0, 9375rem;
}

button {
  font-family: var(--ff-text);
  font-weight: var(--fw-400);
  width: 9.125rem;
  height: 3rem;
  display: block;
  border: none;
  border-radius: 3.125rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s;
}

.card-1 button {
  color: var(--bg-clr-card1);
}
.card-2 button {
  color: var(--bg-clr-card2);
}
.card-3 button {
  color: var(--bg-clr-card3);
}

button:hover {
  background-color: transparent;
  border: var(--base-clr-light) 1px solid;
  color: var(--base-clr-light);
}

@media (min-width: 775px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  article {
    width: 19.1875rem;
    height: 31.25rem;
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
